.brand
    &-list
        display: flex
        width: calc(100% + 50px)
        margin-left: -25px
        flex-wrap: wrap
        margin-bottom: 60px
        &__item
            margin: 0 25px 25px 25px
            flex-basis: 200px
            flex-grow: 1
            &-img
                min-height: 44px
                margin-bottom: 20px
            &-text
                font-size: 16px
                line-height: 150%