.sign
    padding-bottom: 170px
    &-container
        display: flex
        justify-content: space-between
        align-items: flex-start
    &-column
        width: 41.66%
        &__title
            margin-bottom: 50px
        &__block
            margin-bottom: 50px
            &-title
                font-weight: 600
                margin-bottom: 30px
                text-transform: uppercase
            &:last-child
                margin-bottom: 40px
    &-item
        margin-bottom: 25px
        &__title
            margin-bottom: 10px
            color: $mineShaft
            font-size: 14px
            span
                color: $shiraz
        &__textarea
            min-height: 200px
        &__submit
            border: none
            width: 100%
    &-policy
        font-size: 14px
        margin-bottom: 30px
        a
            color: #000
            &::after
                background-color: #000
    &-forgot
        margin-bottom: 40px
        font-size: 14px
        a
            color: #000
            &::after
                background-color: #000

@media (max-width: 1300px)
    .sign
        padding-bottom: 140px
        &-column
            &__title
                margin-bottom: 40px
            &__block
                margin-bottom: 30px
                &-title
                    margin-bottom: 20px
        &-item
            margin-bottom: 20px
        &-policy
            margin-bottom: 20px
        &-forgot
            margin-bottom: 30px

@media (max-width: 1200px)
    .sign
        padding-bottom: 110px
        &-column
            width: 45%

@media (max-width: 1000px)
    .sign
        padding-bottom: 80px
        &-container
            flex-direction: column-reverse
            justify-content: flex-start
        &-column
            width: 100%
            margin-bottom: 40px
            &:first-child
                margin-bottom: 0
            &__title
                margin-bottom: 30px

@media (max-width: 800px)
    .sign
        padding-bottom: 60px
        &-column
            &__title
                margin-bottom: 20px
            &__block
                margin-bottom: 20px
                &-title
                    margin-bottom: 15px
        &-item
            margin-bottom: 15px
            &__textarea
                min-height: 150px
        &-policy
            margin-bottom: 15px
        &-forgot
            margin-bottom: 20px

@media (max-width: 600px)
    .sign
        padding-bottom: 40px