.catalog
    padding-bottom: 120px
    &-container
        display: flex
        justify-content: space-between
    &-main
        min-width: 275px
        width: 270px
    &-list
        display: flex
        flex-wrap: wrap
        width: calc(100% + 40px)
        margin-left: -20px
        &__wrapper
            width: 75%
        &__top
            display: flex
            justify-content: space-between
            align-items: flex-start
            margin-bottom: 50px
    &-item
        flex-basis: 300px
        flex-grow: 1
        margin: 0 20px 50px 20px
    &-quantity
        padding: 25px 0 10px 0
    &-sort
        position: relative
        transition: .3s background-color
        &__title, &__top
            padding: 25px 0 10px 0
        &__title
            margin-right: 20px
        &__top
            padding: 25px 15px 10px 15px
            display: flex
            align-items: center
            justify-content: space-between
            cursor: pointer
            &-text
                font-weight: 700
                text-transform: uppercase
                margin-right: 12px
            &-img
                transition: .3s transform
        &:hover
            background-color: $wildSand
            .catalog-sort__top-img
                transform: rotate(180deg)
            .catalog-sort__body
                opacity: 1
                visibility: visible
        &__body
            padding: 15px 15px 35px 15px
            background-color: $wildSand
            position: absolute
            top: 100%
            right: 0
            width: 100%
            opacity: 0
            visibility: hidden
            transition: .3s opacity, .3s visibility
            &-item
                margin-bottom: 25px
                cursor: pointer
                transition: .3s color
                &:last-child
                    margin-bottom: 0
                &:hover
                    color: $shiraz
            &:hover
                opacity: 1
                visibility: visible
        &__wrapper
            display: flex
            align-items: flex-start
    &-insertion
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        flex-basis: 100%
        margin: 40px 20px 90px 20px
        &__inner
            display: block
            width: 100%
            opacity: 0
            visibility: hidden
    &-pagination
        justify-content: flex-start
        margin-bottom: 120px
    &-text
        font-size: 18px
        line-height: 140%