.catalog
    &-container
        display: flex
        justify-content: space-between
    &-main
        min-width: 270px
        width: 270px
    &-list
        display: flex
        flex-wrap: wrap
        width: calc(100% + 40px)
        margin-left: -20px
        &__wrapper
            width: 75%
    &-item
        flex-basis: 300px
        flex-grow: 1
        margin: 0 20px 50px 20px