.about
    padding-top: 80px
    padding-bottom: 130px
    &-title
        margin-bottom: 35px
    &-main
        display: flex
        justify-content: space-between
        align-items: flex-start
    &-text
        flex-basis: 50%
        &__item
            margin-bottom: 20px
            line-height: 160%
            &:last-child
                margin-bottom: 0
    &-list
        flex-basis: 41.66%
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &-item
        flex-basis: 240px
        &:nth-child(2n - 1)
            margin-right: 100px
        &:nth-child(n + 3)
            margin-top: 40px
        &__img
            margin-bottom: 12px
            min-height: 44px
        &__title
            margin-bottom: 15px
            max-width: 210px