.brands
    padding-top: 130px
    padding-bottom: 80px
    &-title
        margin-bottom: 60px
    &-list
        display: flex
        flex-wrap: wrap
        width: calc(100% + 40px)
        margin-left: -20px
    &-item
        margin: 0 20px 40px 20px
        flex-basis: 500px
        flex-grow: 1
        background-repeat: no-repeat
        background-position: right bottom
        background-size: contain
        padding: 60px 60px 80px 60px
        display: flex
        flex-direction: column
        align-items: flex-start
        &__top
            flex-grow: 1
            max-width: 300px
        &__logo
            margin-bottom: 25px
        &__title
            margin-bottom: 20px
        &__text
            margin-bottom: 20px