.inst
    padding-bottom: 150px
    &-item
        &__img
            background-repeat: no-repeat
            background-position: center center
            background-size: cover
            margin: 0 3px 6px 3px
            flex-basis: 170px
            flex-grow: 1
            &-inner
                display: block
                width: 100%
                opacity: 0
                visibility: hidden
            &-wrapper
                display: flex
                flex-wrap: wrap
                width: calc(100% + 6px)
                margin-left: -3px
                margin-bottom: 30px
        &__bottom
            display: inline-flex
            align-items: flex-start
            &-img
                margin-right: 15px
            &-text
                margin-top: 5px
                &__name
                    margin-bottom: 15px
                    color: #000
                    transition: .3s color
                    span
                        color: $shiraz
                    &:hover
                        color: $shiraz
                &__numbers
                    display: flex
                    justify-content: space-between
                &__number
                    font-size: 20px
                &__text
                    font-size: 10px
                    color: $gray
        &:nth-child(2n)
            margin-top: 100px
    &-slider
        &__bottom
            margin-top: 40px
            