.newsCard
    padding-bottom: 170px
    &-container
        max-width: 920px
    &-img
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        margin-bottom: 70px
        &__inner
            width: 100%
            display: block
            opacity: 0
            visibility: hidden
    &-date
        color: $silver
        text-transform: uppercase
        margin-bottom: 25px
    &-title
        margin-bottom: 20px
    &-text
        font-size: 18px
        line-height: 140% 
        margin-bottom: 25px