.card
    &-container
        display: flex
        justify-content: space-between
        align-items: flex-start
    &-slider
        width: 50%
        margin-left: 0
    &-info
        width: 41.66%
    &-title
        margin-bottom: 25px
    &-specs
        font-size: 14px
        &__item
            display: flex
            align-items: flex-start
            padding: 8px 0
            border-top: 1px solid $mercury
            &:last-child
                border-bottom: 1px solid $mercury
            &-name
                font-weight: 600
                min-width: 120px
                margin-right: 50px